
.bg-dark {
  background-color: rgb(56, 56, 56);
}

.text-white {
  color: white;
}

.custom-image { 
  padding: 10px;
  width: calc(100% - 20px);
  border-radius: 20px;
}

.custom-button button {
  color: white;
  border-color: white;
}